.monitor {
  font-family: 'Dana' !important; 
  border-radius: 12px;
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(97, 95, 95, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
}

.monitor .description-group,
.monitor .secsor-group {
  padding-right: 12px;
}

.monitor .glassCover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 100%;
  max-height: 300px;
  border-radius: 12px;
  background-color: rgba(49, 49, 49, 0.5) !important;
}
